__pycache__/Kap_2_HelloWorld.cpython-39.pyc
__pycache__/Kap_8_Hangman.cpython-39.pyc
__pycache__/Kap_10_TicTacToe.cpython-39.pyc
__pycache__/Kap_14_Cipher.cpython-39.pyc
.vscode/launch.json
.vscode/settings.json
